#main-container {
    background: url('img/day.jpg') repeat-y;
    /* background: url('img/night2.jpg') repeat-y; */
    /* background-color:black; */
    max-width: 1000px;
    position: relative; 
    width: 100%;

}

.content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 200px 100px 160px 500px;    
    padding-top: 10px;
}

.search-bar {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: end;
    align-content: end;
}

h1 {
    color: white;
    font-size: 1em;
    align-self: end;
}

.clock {
    /* grid-row: 3/4; */
    font-size: 4em;
    /* align-self: start; */
    color: white;
    margin-top: -10px;
} 

#weather-data {
    grid-row: 2/3;
    align-self: end;
    justify-self: center;
    text-align: center;
}

.weather-bottom {
    grid-row: 3/4;
}

.weather-p {
    color: white;
    font-weight: 400;
    text-align: center;
}

#seven-days {
    display: grid;
    grid-template-columns: repeat(24, minmax(100px, auto));
    overflow-y: hidden;
    overflow-x: scroll;
}

.hourly {
    grid-column: auto;
    height: 100%;
    /* background-color: wheat; */
    
}
.hourly-time {
    color: white;
    font-weight: 600;
    text-align: center;
}
.hourly-img{
    text-align: center;
}
.hourly-temp {
    text-align: center;
    color: white;
    font-weight: bold;
    padding-bottom: 2em;
}
.lowercase {
    text-transform: lowercase;
}

#daily {
    display: grid;
    grid-template-rows: repeat(7, 70px);
}

.daily-row{
display: grid;
grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
}
.daily-row span {
    color: white;
    align-self: center;
}