* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html {
    --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}

::-webkit-scrollbar {
    width: 20px;
  }
  
  #seven-days::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  #seven-days::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  #seven-days::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }


#main-container {
    background: url('img/day.jpg') repeat-y;
    /* background: url('img/night2.jpg') repeat-y; */
    /* background-color:black; */
    position: relative; 
  

}

.content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 200px 150px 160px 500px;    
    padding-top: 10px;
}

.search-bar {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: end;
    align-content: end;
}

h1 {
    color: white;
    font-size: 1em;
    align-self: end;
}

.clock {
    /* grid-row: 3/4; */
    font-size: 4em;
    /* align-self: start; */
    color: white;
    margin-top: -10px;
} 

#weather-data {
    grid-row: 2/3;
    align-self: end;
    justify-self: center;
    text-align: center;
}

.weather-bottom {
    grid-row: 3/4;
}

.weather-p {
    color: white;
    font-weight: 400;
    text-align: center;
}

.weather-p small {
    font-size: 10px;
    text-align: right;
}

#seven-days {
    display: grid;
    grid-template-columns: repeat(24, minmax(100px, auto));
    overflow-y: hidden;
    overflow-x: scroll;
    /* scrollbar-width: thin; */
    
}


.hourly {
    grid-column: auto;
    height: 100%;
    /* background-color: wheat; */
    
}
.hourly-time {
    color: white;
    font-weight: 600;
    text-align: center;
}
.hourly-img{
    text-align: center;
}
.hourly-temp {
    text-align: center;
    color: white;
    font-weight: bold;
    padding-bottom: 2em;
}
.lowercase {
    text-transform: lowercase;
}

#daily {
    display: grid;
    grid-template-rows: repeat(3, 70px);
}

.daily-row{
display: grid;
grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
}
.daily-row span {
    color: white;
    align-self: center;
    text-align: center;
}
footer {
 background-color: white;
 text-align: center;
}
footer a {
    text-decoration: none;
    /* margin-right: 10px; */
    width: 100%;
}

footer span {
    margin: 0 4px;
}
footer strong {
    margin-right: 5px;
}